package components

import "github.com/nem-git/abcmovies/internal/oas"

templ EpisodeCard(tag string, seriesID string, seasonID string, episode oas.Episode) {
	@CardLink("/services/" + tag + "/series/" + seriesID + "/seasons/" + seasonID + "/episodes/" + episode.ID) {
		<div class="flex items-start justify-between">
			<div>
				if episode.EpisodeNumber.IsSet() {
					<span class="text-sm text-gray-500">Episode { episode.EpisodeNumber.Value }</span>
				}
				<h3 class="font-semibold mt-1">{ episode.Name }</h3>
			</div>
			if episode.Duration != "" {
				<span class="text-sm text-gray-500 mt-1">{ episode.Duration }</span>
			}
		</div>
	}
}
