package components

templ NavBar() {
	<nav class="flex items-center justify-between px-6 py-4 border-b border-gray-700">
		<a href="/" class="text-xl font-bold">ABCMovies</a>
		<ul class="flex gap-6">
			<li><a href="/">Home</a></li>
			<li><a href="/movies">Movies</a></li>
			<li><a href="/series">Series</a></li>
		</ul>
	</nav>
}
