package fragments

import (
	"github.com/nem-git/abcmovies/internal/search"
	"github.com/nem-git/abcmovies/internal/web/components"
)

templ SearchResults(results []search.Result) {
	if len(results) == 0 {
		<div class="py-8 text-center text-gray-400">
			<p>No results found.</p>
		</div>
	} else {
		<div class="grid gap-3">
			for _, r := range results {
				@components.SearchResultItemCard(r)
			}
		</div>
	}
}
