package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - ABCMovies</title>
			<script src="/static/js/htmx.min.js"></script>
			<script defer type="text/javascript" src="/static/js/alpine.min.js"></script>
			<link rel="stylesheet" href="/static/css/style.css"/>
		</head>
		{ children... }
	</html>
}
