package pages

import (
	"github.com/nem-git/abcmovies/internal/oas"
	"github.com/nem-git/abcmovies/internal/web/components"
	"github.com/nem-git/abcmovies/internal/web/layouts"
)

templ MoviePlayer(tag string, id string, movie *oas.Movie, streamURL string) {
	@layouts.Player(movie.Name) {
		@components.PlayerContainer(
			movie.Name,
			streamURL,
			movie.Poster.Value.String(),
			"/services/"+tag+"/movies/"+id,
		)
	}
}
