:root {
    --color-white-raw: 300 25% 95%;
    --color-whiteish-raw: 300 60% 85%;
    --color-very-light-raw: 300 60% 75%;
    --color-lighter-raw: 300 60% 60%;
    --color-light-raw: 300 35% 30%;
    --color-normal-raw: 300 35% 20%;
    --color-dark-raw: 300 35% 15%;
    --color-darker-raw: 300 35% 12%;
    --color-very-dark-raw: 300 35% 8%;
    --color-black-raw: 300 35% 3%;

    --color-grey-light-raw: 300 0% 40%;
    --color-grey-normal-raw: 0 0% 25%;
    --color-grey-dark-raw: 0 0% 15%;

    --color-white: hsl(var(--color-white-raw));
    --color-whiteish: hsl(var(--color-whiteish-raw));
    --color-very-light: hsl(var(--color-very-light-raw));
    --color-lighter: hsl(var(--color-lighter-raw));
    --color-light: hsl(var(--color-light-raw));
    --color-normal: hsl(var(--color-normal-raw));
    --color-dark: hsl(var(--color-dark-raw));
    --color-darker: hsl(var(--color-darker-raw));
    --color-very-dark: hsl(var(--color-very-dark-raw));
    --color-black: hsl(var(--color-black-raw));

    --color-grey-light: hsl(var(--color-grey-light-raw));
    --color-grey-normal: hsl(var(--color-grey-normal-raw));
    --color-grey-dark: hsl(var(--color-grey-dark-raw));

    --body-background-gradient: linear-gradient(
        to bottom,
        var(--color-very-dark) 0%,
        var(--color-very-dark) 80%,
        var(--color-dark) 100%
    );
}

* {
    font-family: sans-serif;
    color: var(--color-white);
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-very-dark);
    background-size: 100vw 100vh;
    background-image: var(--body-background-gradient);
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

input {
    outline: none;
    border: none;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
